/* main.css */
.top-bar{
	color:#fff;
	background:#000;
}
.top-bar .name h1{
	color:#fff;
}
.top-bar .name h1 a{
	display:block;
}
.top-bar ul, .top-bar ul li{
	margin:0px;
	display:inline-block;
}

nav .icons img{
	max-height:90%;
	padding-top:5%; padding-bottom:5%;
}
.icons{
	text-align:right;
}
.icons a{
	padding-left:.25em; padding-right:.25em;
}

.location{
	font-size:.75em;
	background:#f0f;
}

ul, li{
	list-style:none;
	margin:0;
	padding:0;
}
.headshot{
	padding:.25em;
}
.home-title .progress{
	margin:.25em;
}
.button a{
	color:#fff;
}
.monbar{
	border-bottom:thin dotted black;
	cursor:pointer;
}
.mon-pic{
	background:#f00 url('/images/pokemon_sprites.png') -125px 0px;
	background-size:1499px 1282px;
	min-width:47.5px;
	height:47.5px;
}